<div class="container__bigcard">
    <div class="big-card__photo">
        <img src="https://conteudo.imguol.com.br/c/entretenimento/fa/2023/09/22/a-fazenda-2023-rachel-sheherazade-chama-tonzao-de-sexista-1695358492315_v2_900x506.png.webp"
            alt="" srcset="">
    </div>
    <div class="big-card__title">
        <a href="">
            <h1>Como Rachel Sheherazade pode arruinar A Fazenda 15</h1>
        </a>

    </div>
    <div class="big-card__description">
        <p><a href="#">Começou animada a 15ª temporada de A Fazenda. Com menos de uma semana no ar, já aconteceu uma
                miríade de
                fortes emoções com aquele tradicional leque de intrigas, conchavos e devaneios.

                Alguns participantes começaram muito bem, despontando como possíveis favoritos, caso de Márcia Fu,
                apenas
                para alguns dias depois perderem o apoio popular de maneira contundente…
            </a>
        </p>
    </div>
</div>