.container__bigcard {

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 500px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__photo img {
    width: 100%;
    min-width: 400;
}

.big-card__title h1 {
    margin-top: 15px;
    font-size: 22px;
}

.big-card__description {
    margin-top: 10px;
}

.big-card__description p a {
    font-size: 12;
    color: gray;
}