<div class="container__small-card">

    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://conteudo.imguol.com.br/c/splash/a8/2021/02/20/sandy-e-lucas-lima-lancam-versao-de-lugar-ao-sol-1613864554538_v2_300x225.jpg.webp"
                alt="" srcset="">
        </div>
        <div class="small-card__title">
            <a href="">
                <h1>Sandy e Lucas Lima anunciam fim de casamento: 'Não foi uma decisão fácil'</h1>
            </a>

        </div>
    </div>


    <div class="container__small-card__separator">
        <hr>
    </div>
</div>