<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">

        <app-big-card id="1" cardTitle="Como Rachel Sheherazade pode arruinar A Fazenda 15"
            photoCover="https://conteudo.imguol.com.br/c/entretenimento/fa/2023/09/22/a-fazenda-2023-rachel-sheherazade-chama-tonzao-de-sexista-1695358492315_v2_900x506.png.webp"
            cardDescription="Começou animada a 15ª temporada de A Fazenda. Com menos de uma semana no ar, já aconteceu uma miríade de fortes emoções
             com aquele tradicional leque de intrigas, conchavos e devaneios. Alguns participantes começaram muito bem, despontando como possíveis favoritos, caso de Márcia Fu, 
             apenas para alguns dias depois perderem o apoio popular de maneira contundente…">
        </app-big-card>

    </div>
    <div class="articles__others">
        <app-small-card id="2"
            photoCover="https://conteudo.imguol.com.br/c/splash/a8/2021/02/20/sandy-e-lucas-lima-lancam-versao-de-lugar-ao-sol-1613864554538_v2_300x225.jpg.webp"
            cardTitle="Sandy e Lucas Lima anunciam fim de casamento: 'Não foi uma decisão fácil'">
        </app-small-card>
        <app-small-card id="3"
            photoCover="https://conteudo.imguol.com.br/c/home/d1/2023/09/25/250923---o-presidente-lula-pt-em-entrevista-no-itamaraty-1695668543769_300x225.jpg.webp"
            cardTitle="Lula nega angústia e descarta raça e gênero como critérios para STF">
        </app-small-card>
        <app-small-card id="4"
            photoCover="https://conteudo.imguol.com.br/c/noticias/86/2023/07/12/ciclone-extratropical-na-costa-do-brasil-1689173943857_v2_300x225.png.webp"
            cardTitle="Ciclone se forma no Rio Grande do Sul e frente fria avança na região; veja previsões">
        </app-small-card>
    </div>
</div>